/*
 * Copyright (c) 2025 Analog Devices, Inc
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the apard32690 board. 
 */

/ {
    aliases {
        ambient-temp0 = &temp0;
    };
};

&arduino_spi {
    status = "okay";

    temp0: max31723@0 {
        status = "okay";
        compatible = "adi,max31723";
        reg = <0>;
        spi-max-frequency = <1000000>;
        oneshot_mode;
        resolution = <3>;
        thermostat_mode = <1>;
    };
};

